/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Import/adherent_import.xlsx
/Import/Liste des adhérents.csv
/Import/titre_import.xlsx
/Import/~$adherent_import.xlsx
/Import/~$titre_import.xlsx
/Import/import_adherents.xlsx
/Import/import_titre.xlsx
/Import/~$import_titre.xlsx
/Import/Anciens Membres.txt
/Import/Export AMSE.zip
/Import/import_cotisation.xlsx
/Import/import_operation.xlsx
/Import/Liste des activités.txt
/Import/Liste des adhérents 19072023.txt
/Import/Liste des factures.txt
/Import/Liste des opérations - global.csv
/Import/Liste des opérations 2023.csv
/Import/Liste des règlements membres.txt
/Import/prospect.txt
/Export/Dons/Pdf/SEND_OK/RE856.pdf
/modele/recu_don_modele.docx
/ASSOGESTION/
/build/AssoGestion/
/Export/
/Import/
/deploiement_prod.cmd
/.idea/.name
